.sectioned-view-card .jenkins-alert {
  border-radius: 1rem;
}

.sectioned-view-text h3 {
  margin: 0 0 5px 0;
}

.sectioned-view-text div {
  margin-left: 10px;
}

.sectioned-view-graph-container {
  display: flex;
  flex-direction: column;
  gap:.5rem;
}

.sectioned-view-graph {
  background-color: var(--table-background);
  margin: 0;
  padding: 0.5rem 1rem;
  border-radius: calc(var(--table-border-radius) + 4px);
}

.sectioned-view-panel-content ul {
  list-style-type: none;
  margin: 0 10px;
  padding: 10px;
}

